mixin hero
    // HERO
    section.hero
        .section-inner
            .items-wrapper.hero-wrapper
                #heroBlockFirst.hero-block.first
                    #heroHeader.hero-block__header
                        .hero-block__header-item
                            h1.hero-text Reservation
                        .hero-block__header-item
                            button.btn-icon.btn-icon--col
                                i#chevronIcon.fas.fa-chevron-up
                    .hero-block__body
                        h2.hero-block__body-title Book a table
                        form#bookingForm.booking-form
                            .booking-form__fields
                                input.input-field.input-field--mod.inp-col(
                                    type='text',
                                    name='firstname',
                                    placeholder='First Name',
                                )
                                input.input-field.input-field--mod.inp-col(
                                    type='text',
                                    name='lastname',
                                    placeholder='Last Name',
                                )
                                input.input-field.input-field--mod.inp-col(
                                    type='email',
                                    name='email',
                                    placeholder='Email',
                                )
                                .form-group
                                    span#tipForPhone.tooltip-form Phone format: (XXX) XX XXXX
                                    input.input-field.input-field--mod.inp-col(
                                        type='tel',
                                        name='phone',
                                        placeholder='Phone Number',
                                    )
                            .booking-form__button
                                button.btn.btn--mod.btn--secondary(name='continue') Choose a table
                // close .hero-block
                #heroBlockSecond.hero-block.second
                    .hero-block__header
                        .hero-block__header-item
                            button.btn-default(data-trigger="back") Back
                    .hero-block__body.hero-block__body--mod
                        .hero-block__row
                            h2.hero-block__body-title Choose a date
                            .hero-block__row-group
                                .hero-block__row-item
                                    #loaderHero.hero-loader
                                        .line-spin-fade-loader
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                            div
                                .hero-block__row-item
                                    .form-group
                                        span#tipWorkingHours.tooltip-form.fix-w Restaurant working hours from 10:00 to 22:00
                                        input#bookingDate.input-field.input-field--mod(type="date")
                                .hero-block__row-item
                                    input#bookingTime.input-field.input-field--mod.time-inp(
                                        type="time",
                                        min="10:00",
                                        max="22:00"
                                    )
                        .hero-block__flow
                            .plan.scrollable
                                .section.large
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t01") t1
                                        button.btn.btn--table.btn--pag(data-table="t02") t2
                                        button.btn.btn--table.btn--pag(data-table="t03") t3
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t04") t4
                                        button.btn.btn--table.btn--pag(data-table="t05") t5
                                        button.btn.btn--table.btn--pag(data-table="t06") t6
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t07") t7
                                        button.btn.btn--table.btn--pag(data-table="t08") t8
                                        button.btn.btn--table.btn--pag(data-table="t09") t9
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t10") t10
                                        button.btn.btn--table.btn--pag(data-table="t11") t11
                                        button.btn.btn--table.btn--pag(data-table="t12") t12
                                .section.large
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t13") t13
                                        button.btn.btn--table.btn--pag(data-table="t14") t14
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t15") t15
                                        button.btn.btn--table.btn--pag(data-table="t16") t16
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t17") t17
                                        button.btn.btn--table.btn--pag(data-table="t18") t18
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t19") t19
                                        button.btn.btn--table.btn--pag(data-table="t20") t20
                                .section
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t21") t21
                                        button.btn.btn--table.btn--pag(data-table="t22") t22
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t23") t23
                                        button.btn.btn--table.btn--pag(data-table="t24") t24
                                .section
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t25") t25
                                        button.btn.btn--table.btn--pag(data-table="t26") t26
                                        button.btn.btn--table.btn--pag(data-table="t27") t27
                                        button.btn.btn--table.btn--pag(data-table="t28") t28
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t29") t29
                                        button.btn.btn--table.btn--pag(data-table="t30") t30
                                        button.btn.btn--table.btn--pag(data-table="t31") t31
                                        button.btn.btn--table.btn--pag(data-table="t32") t32
                                .section.long
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t33") t33
                                        button.btn.btn--table.btn--pag(data-table="t34") t34
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t35") t35
                                        button.btn.btn--table.btn--pag(data-table="t36") t36
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t37") t37
                                        button.btn.btn--table.btn--pag(data-table="t38") t38
                                    .group
                                        button.btn.btn--table.btn--pag(data-table="t39") t39
                                        button.btn.btn--table.btn--pag(data-table="t40") t40
                        .hero-block__row.hero-block__row--mod
                                button.btn.btn--mod.btn--secondary(data-trigger="book") Book
                // close .hero-block