mixin signin
    // SIGN IN MODAL
    #overlayForSignIn.overlay
        #modalSignIn.modal
            #loader.loader
                .ball-clip-rotate
                    div
            .modal__header
                h2.modal__header-title Login
                .login-with
                    span.login-with__text Login with
                    a#googleBtn.login-with__link(href="#")
                        i.fab.fa-google
                    a#facebookBtn.login-with__link(href="#")
                        i.fab.fa-facebook
            .modal__body
                //- FORM
                form#signInForm.form.form-auth
                    .form__item
                        input#signInEmail.input-field(
                            type='email',
                            name='email',
                            placeholder='Email',
                            required
                        )
                    .form__item
                        input#signInPassword.input-field(
                            type='password',
                            name='password',
                            placeholder='Password',
                            required
                        )
                    .form__item
                        button.btn.btn--hov Continue
                //- FORM
            .modal__footer
                h3.modal__footer-text Don't have account?
                    a.link-default(href='#') Sign up
