mixin auth

    // SIGN IN MODAL

    #overlayForSignIn.overlay
        #modalSignIn.modal
            #loaderSignIn.loader
                .ball-clip-rotate
                    div
            .modal__header
                h2.modal__header-title Login
                .login-with
                    span.login-with__text Login with
                    a.login-with__link(href="#")
                        i(data-action='google').fab.fa-google
                    a#facebookBtn.login-with__link(href="#")
                        i.fab.fa-facebook
            .modal__body
                //- FORM
                form#signInForm.form
                    .form__item
                        input.input-field(
                            type='email',
                            name='email',
                            placeholder='Email',
                            required
                        )
                    .form__item
                        input.input-field(
                            type='password',
                            name='password',
                            placeholder='Password',
                            required
                        )
                        button.show-pass.btn-default(title="Show password")
                            i.far.fa-eye(data-action='password')
                    .form__item
                        button.btn.btn--hov.btn--large Continue
                //- FORM
                .modal__body-resetpass
                    span(data-action='reset').link-default Forgot password
            .modal__footer
                h3.modal__footer-text Don't have account?
                    span(data-action='signup').link-action Sign up

        // RESET PASSWORD MODAL

        #modalResetPass.modal.modal--shrinkable
            #loaderResetPass.loader
                .ball-clip-rotate
                    div
            .modal__header
                h2.modal__header-title.modal__header-title--mod  Forgot your password?
            .modal__body
                //- FORM
                form#resetPassForm.form
                    .form__item
                        input.input-field(
                            type='email',
                            name='email',
                            placeholder='Email',
                            required
                        )
                    .form__item
                        button.btn.btn--hov.btn--large Continue
                //- FORM
            .modal__footer.modal__footer--mod
                button(data-action='signin').btn.btn--hov.btn--large Sign in

    // SIGN UP MODAL

    #overlayForSignUp.overlay
        #modalSignUp.modal.modal--mod
            #loaderSignUp.loader
                .ball-clip-rotate
                    div
            .modal__header.modal__header--mod
                h2.modal__header-title.modal__header-title--mod Create an account
            .modal__body
                //- FORM
                form#signUpForm.form
                    .form__item
                        input#signUpFirstName.input-field(
                            type='text',
                            name='firstname',
                            placeholder='First name',
                        )
                    .form__item
                        input#signUpLastName.input-field(
                            type='text',
                            name='lastname',
                            placeholder='Last name',
                        )
                    .form__item
                        input#signUpEmail.input-field(
                            type='email',
                            name='email',
                            placeholder='Email',
                            required
                        )
                    .form__item
                        input#signUpPassword.input-field(
                            type='password',
                            name='password',
                            placeholder='Password',
                            required
                        )
                        button.show-pass.btn-default(title="Show password")
                            i.far.fa-eye(data-action='password')
                    .form__item
                        button.btn.btn--hov.btn--large Register
                //- FORM
            .modal__footer.modal__footer--mod
                button(data-action='signin').btn.btn--hov.btn--large Sign in
